# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/

# Environment Variables (NEVER COMMIT THIS)
.env

# Model Artifacts (Too large for Git, fetch from Registry instead)
models/*.pkl
models/*.h5
models/*.json
!models/.gitkeep

# IDE & OS
.vscode/
.DS_Store